In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv('./processed_data/netload/RISE_week_2021_netload.csv', index_col=0, header=0)
cal = pd.read_excel('./processed_data/2021_cal_flag.xlsx',  index_col=0, header=0)

In [25]:
cal

        date_num  load_flag  week_flag  eve_flag  miss_flag_net  miss_flag_pv
210101         1          1          0         0              0             0
210102         2          1          0         0              0             0
210103         3          1          0         1              0             0
210104         4          0          1         1              0             0
210105         5          0          1         1              0             0
...          ...        ...        ...       ...            ...           ...
211227       361          0          1         1              0             0
211228       362          0          1         1              0             0
211229       363          0          1         1              0             0
211230       364          0          1         1              0             0
211231       365          0          1         0              1             0

[365 rows x 6 columns]

In [19]:
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
210104,879.6,906.7,902.6,866.7,821.9,869.8,853.7,893.9,1063.9,1099.7,...,1103.2,1099.1,1105.6,1100.7,1043.8,1016.0,975.6,979.7,982.6,933.4
210105,925.6,936.7,882.7,894.6,864.2,859.1,853.7,891.3,957.4,1084.6,...,1159.4,1173.3,1168.5,1149.9,1105.5,976.7,978.8,989.3,965.6,968.6
210106,941.6,938.5,908.3,922.8,889.1,909.2,890.2,958.8,1094.0,1174.3,...,1108.5,1095.2,1121.3,1150.4,1040.5,1043.8,1018.8,1017.6,978.0,958.3
210107,959.1,993.6,928.9,974.8,1028.6,985.0,971.7,1021.1,1077.4,1265.7,...,1350.3,1351.6,1358.4,1349.0,1279.1,1213.7,1264.2,1229.0,1223.8,1205.3
210108,1190.3,1182.8,1160.8,1122.6,1099.7,1116.8,1140.9,1152.3,1314.6,1387.3,...,1342.3,1312.9,1317.2,1345.6,1326.0,1207.8,1231.6,1258.3,1264.5,1202.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211224,782.2,793.3,787.0,756.0,771.0,761.1,770.9,812.5,886.9,995.8,...,927.1,898.5,918.8,941.3,836.4,856.5,783.0,807.5,819.0,787.2
211227,862.1,868.6,836.0,849.5,886.9,861.9,888.2,896.7,1085.6,1175.6,...,1127.3,1143.3,1149.3,1139.0,1111.6,1011.1,1026.3,946.0,938.4,922.8
211228,885.6,890.9,859.7,875.7,868.3,853.8,850.5,868.5,958.5,1124.9,...,1134.4,1102.5,1071.2,1091.4,997.6,928.1,933.0,862.6,902.8,896.1
211229,847.5,877.3,824.7,813.5,836.8,774.4,809.9,853.0,976.3,1021.6,...,959.4,976.4,998.9,956.7,893.3,871.3,902.9,878.8,910.0,869.2
211230,864.7,841.4,788.1,812.6,776.7,801.0,851.0,851.2,937.6,1020.1,...,1004.4,1036.2,1018.2,1005.1,949.4,883.0,900.5,841.5,871.5,856.0

In [28]:
week_index = cal[cal['week_flag'] == 1].index

In [29]:
week_index

Int64Index([210101, 210102, 210103, 210109, 210110, 210116, 210117, 210123,
            210124, 210130,
            ...
            211127, 211128, 211204, 211205, 211211, 211212, 211218, 211219,
            211225, 211226],
           dtype='int64', length=108)

In [23]:
miss = cal[cal['miss_flag_net'] == 1]

In [24]:
len(miss)

29

In [14]:
# make vacant rows for missing data
for i in range(len(miss)):
    df.loc[miss.index[i]] = np.nan

365