In [54]:
import pandas as pd
from datetime import datetime

In [55]:
pv = pd.read_csv('./processed_data/pv/RISE_2021_PV_no_interpol.csv', index_col=0)
forecast_weather = pd.read_csv('./processed_data/weather/forecast_weather.csv')
observation_weather = pd.read_csv('./preprocessed_data/weather_data/weather_observation.csv', index_col=2, encoding='cp949').drop(['지점', '지점명'], axis=1)
observation_weather.columns = ['DS', 'SL', 'SR']  # (DS) Duration of Sunlight: 가조시간(hr) | (SL) SunLight 합계 일조시간(hr) | (SR) Solar Radiation 합계 일사량(MJ/m2)
display(pv)
display(forecast_weather)
display(observation_weather)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
210101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,...,21.8,11.0,15.1,0.5,0.0,0.0,0.0,0.0,0.0,0.0
210102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.3,...,37.7,32.3,21.5,5.0,0.0,0.0,0.0,0.0,0.0,0.0
210103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,9.9,...,29.1,8.5,3.9,0.7,0.0,0.0,0.0,0.0,0.0,0.0
210104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,10.3,...,41.7,10.2,5.8,0.9,0.0,0.0,0.0,0.0,0.0,0.0
210105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,7.4,...,23.9,9.8,7.5,0.9,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.3,...,21.6,4.7,3.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,6.6,...,7.3,5.7,1.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0
211229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,5.7,...,5.8,4.7,14.6,0.8,0.0,0.0,0.0,0.0,0.0,0.0
211230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,12.4,...,44.1,6.3,0.9,0.9,0.0,0.0,0.0,0.0,0.0,0.0
211231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,...,37.4,7.6,8.7,0.9,0.0,0.0,0.0,0.0,0.0,0.0

,TM_6,TM_9,TM_12,TM_15,TM_18,WS_6,WS_9,WS_12,WS_15,WS_18,...,SK_5,SK_18,PP_6,PP_9,PP_12,PP_15,PP_18,PR_9,PR_15,PR_21
0,1.0,-2.0,-4.0,-7.0,-6.0,4.1,1.6,2.3,2.4,3.0,...,3.0,4.0,20.0,30.0,20.0,20.0,30.0,0.0,0.0,0.0
1,2.0,-1.0,-4.0,-5.0,-6.0,3.4,1.5,1.0,1.3,1.5,...,3.0,3.0,20.0,20.0,20.0,20.0,20.0,0.0,0.0,0.0
2,4.0,1.0,-1.0,-1.0,0.0,0.4,0.9,1.6,2.3,0.5,...,3.0,4.0,0.0,0.0,10.0,20.0,30.0,0.0,0.0,1.0
3,-1.0,-2.0,-4.0,-5.0,-6.0,6.1,3.3,2.7,2.1,2.8,...,4.0,4.0,30.0,30.0,30.0,30.0,30.0,0.0,0.0,0.0
4,0.0,-2.0,-2.0,-2.0,-5.0,2.4,1.1,2.5,6.0,6.6,...,4.0,4.0,30.0,30.0,30.0,60.0,80.0,0.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,8.0,4.0,1.0,0.0,-1.0,2.6,1.3,1.1,1.4,1.2,...,4.0,4.0,30.0,30.0,30.0,30.0,30.0,0.0,0.0,0.0
361,8.0,5.0,3.0,1.0,0.0,4.7,2.0,3.2,2.8,3.0,...,4.0,4.0,30.0,30.0,30.0,30.0,30.0,0.0,0.0,0.0
362,4.0,2.0,0.0,-2.0,-4.0,6.5,3.1,3.3,3.7,4.2,...,4.0,4.0,60.0,30.0,30.0,60.0,60.0,0.0,0.0,0.0
363,0.0,-3.0,-5.0,-6.0,-6.0,4.7,2.2,2.5,2.4,2.5,...,3.0,3.0,20.0,20.0,0.0,20.0,20.0,0.0,0.0,0.0
364,5.0,1.0,-2.0,-3.0,-4.0,2.1,1.1,0.5,1.0,1.7,...,3.0,1.0,20.0,20.0,20.0,20.0,0.0,0.0,0.0,0.0

             DS   SL     SR
일시
2021-01-01  9.8  4.3   9.00
2021-01-02  9.9  8.6  12.54
2021-01-03  9.9  6.1  10.37
2021-01-04  9.9  5.8  10.07
2021-01-05  9.9  3.0   7.74
...         ...  ...    ...
2021-12-27  9.8  6.5  11.35
2021-12-28  9.8  2.4   7.49
2021-12-29  9.8  3.6   7.77
2021-12-30  9.8  6.0   9.89
2021-12-31  9.8  6.9  10.95

[365 rows x 3 columns]

In [56]:
# modify date(일시) string into integer to convert the value to tensor.
# set '일시' as index of observation_weather

observation_weather_len = len(observation_weather)
observation_weather_date_list = observation_weather.index
mdi_observation_weather_date_list = []

for i in range(observation_weather_len):
    date = observation_weather_date_list[i]
    date_time_obj = datetime.strptime(date, '%Y-%m-%d')
    mdi_date = (date_time_obj.year-2000)*10000 + date_time_obj.month*100 + date_time_obj.day
    mdi_observation_weather_date_list.append(mdi_date)
    
    
observation_weather.index = mdi_observation_weather_date_list
forecast_weather.index = mdi_observation_weather_date_list

comb = pd.concat([pv, observation_weather, forecast_weather], axis=1, join='inner')
# 50 features = 24 PV + 3 observation + 23 forecast
#  PV generation each hour
#  'DS', 'SL', 'SR'
#  'TM_6', 'TM_9', 'TM_12', 'TM_15', 'TM_18', 'WS_6', 'WS_9', 'WS_12', 'WS_15', 'WS_18',
#  'SK_6', 'SK_9', 'SK_12', 'SK_5', 'SK_18', 'PP_6', 'PP_9', 'PP_12', 'PP_15', 'PP_18',
#  'PR_9', 'PR_15', 'PR_21'

In [58]:
comb

,0,1,2,3,4,5,6,7,8,9,...,SK_5,SK_18,PP_6,PP_9,PP_12,PP_15,PP_18,PR_9,PR_15,PR_21
210101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,...,3.0,4.0,20.0,30.0,20.0,20.0,30.0,0.0,0.0,0.0
210102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.3,...,3.0,3.0,20.0,20.0,20.0,20.0,20.0,0.0,0.0,0.0
210103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,9.9,...,3.0,4.0,0.0,0.0,10.0,20.0,30.0,0.0,0.0,1.0
210104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,10.3,...,4.0,4.0,30.0,30.0,30.0,30.0,30.0,0.0,0.0,0.0
210105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,7.4,...,4.0,4.0,30.0,30.0,30.0,60.0,80.0,0.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.3,...,4.0,4.0,30.0,30.0,30.0,30.0,30.0,0.0,0.0,0.0
211228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,6.6,...,4.0,4.0,30.0,30.0,30.0,30.0,30.0,0.0,0.0,0.0
211229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,5.7,...,4.0,4.0,60.0,30.0,30.0,60.0,60.0,0.0,0.0,0.0
211230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,12.4,...,3.0,3.0,20.0,20.0,0.0,20.0,20.0,0.0,0.0,0.0
211231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,...,3.0,1.0,20.0,20.0,20.0,20.0,0.0,0.0,0.0,0.0