In [31]:
import numpy as np
import pandas as pd
import torch
import os
from torch import linalg as LA
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv('./weather_data/OBS_ASOS_TIM_20230216162904.csv', encoding='cp949')
pv = pd.read_csv('./processed_data/pv/week_2021_PV.csv')

In [38]:
df = df.drop(columns=['지점', '지점명'])

,일시,기온(°C),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전운량(10분위),중하층운량(10분위)
0,2021-01-01 0:00,-1.8,1.3,79.0,NaN,NaN,8.0,8.0
1,2021-01-01 1:00,-2.9,1.1,83.0,NaN,NaN,3.0,3.0
2,2021-01-01 2:00,-2.9,1.0,81.0,NaN,NaN,8.0,8.0
3,2021-01-01 3:00,-2.8,0.1,86.0,NaN,NaN,9.0,9.0
4,2021-01-01 4:00,-2.9,0.7,87.0,NaN,NaN,8.0,8.0
...,...,...,...,...,...,...,...,...
8755,2021-12-31 19:00,-1.6,2.8,60.0,NaN,NaN,3.0,0.0
8756,2021-12-31 20:00,-2.0,3.0,59.0,NaN,NaN,0.0,0.0
8757,2021-12-31 21:00,-2.6,1.0,51.0,NaN,NaN,0.0,0.0
8758,2021-12-31 22:00,-3.6,2.2,57.0,NaN,NaN,3.0,0.0
8759,2021-12-31 23:00,-4.2,1.7,56.0,NaN,NaN,6.0,2.0

In [41]:
df = df.fillna(0)

In [ ]:
# month list of months having only 30 days
thirty_month = [4,6,9,11]


week = pd.DataFrame
weekend =pd.DataFrame

for month in range(1,13):
    if month == 2:
        end_date = 28
    elif month in thirty_month:
        end_date = 30
    else:
        end_date = 31
        
        
    # there isn't data of end of month like 30th or 31st
    for day in range(1, end_date):

        # 1 for weekend and holiday, 0 for else
        flag = 0

        # check if the date is weekend and holiday or not
        date = '2021-{0:0>2}-{1:0>2}'.format(month, day)
#         if cal.at[int(date), 'flag'] == 1:
#             flag = 1

#         file_path = '{0}{1:0>2}-{2:0>2}_.xls'.format(
#             basic_path, str(month), str(day))
        
        
#     # need to initialize dataframe 'week' for week and 'weekend' for weekend
#     if month == 1 and day == 1:
#         weekend = temp
#     elif month == 1 and day == 4:
#         week = temp
#     else:
#         if flag == 1:
#             weekend = pd.concat([weekend, temp], axis=1)
#         else:
#             week = pd.concat([week, temp], axis=1)